{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="mx-auto mt-32 bg-white w-96 p-8 rounded-lg shadow-sm font-questrial">
  <div class='flex justify-center text-center m-10 text-xl md:text-3xl text-warmCoffee'>
      <p>Are you sure you want to delete this workout?</p>
  </div>
  
  <form action="" method="post" class="form">
      {% csrf_token %}
  <div class='flex justify-center mt-5 gap-5'>
      <button type="submit" class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
          hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
          <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
          opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
          <span class="relative">Delete</span>
      </button>
      <button>
          <a href="{% url 'meal_detail' meal.id %}">
              <div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
              hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
              <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
              opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
              <span class="relative">Cancel</span>
              </div>
          </a>
      </button>
  </div>
  </form>
</div>


{% endblock %}