{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block content %}

<div class='mt-10'>
    <div class='flex justify-center mt-10 mb-10 font-quattrocento'>
        <h1 class='text-5xl '>Goals</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data"
     class="w-96 md:w-[450px] mx-auto bg-offWhite p-8 rounded-lg shadow-md mb-12 font-questrial grid">
        {% csrf_token %}
        
        {{ form|crispy}}
        
        <div class="flex justify-between mt-6">
            <button type="submit" class="relative mt-4 rounded-md px-5 py-1 overflow-hidden group bg-black text-cream hover:bg-gradient-to-r
                hover:from-black hover:to-grey hover:ring-2 hover:ring-offset-2 hover:ring-grey transition-all ease-out duration-300">
                <span class='absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                opacity-10 rotate-12 group-hover:-translate-x-40 ease'></span>
                <span class='relative'>Submit</span>
            </button>
            <button>
                <a href="{% url 'user_profile' user.id %}">
                    <div class="relative rounded-md mt-4 py-1 px-2 w-42 text-center overflow-hidden group bg-terracotta text-cream hover:bg-gradient-to-r
                    hover:from-terracotta hover:to-softRose hover:ring-2 hover:ring-offset-2 hover:ring-softRose transition-all ease-out duration-300">
                    <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                    opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                    <span class="relative">Cancel</span>
                </a>
            </button>
        </div>

    </form>
</div>


{% endblock content %}