{% extends 'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/landingstyles.css' %}">

{% endblock head %}

{% block content %}

{% if not user.is_authenticated %}
<div id="sticky-nav" class="bg-sage p-4 fixed top-0 left-0 right-0 opacity-0 transition-opacity duration-300 z-50 shadow-md">
    <div class="flex justify-center space-x-4">
        <a href="#reviews" class="text-offWhite hover:text-yellow-500">User Reviews</a>
        <a href="#features" class="text-offWhite hover:text-yellow-500">Features</a>
        <a href="#about" class="text-offWhite hover:text-yellow-500">About Us</a>
    </div>
</div>

<section class=" font-questrial">
    <div class="relative flex justify-between items-center bg-cover pb-5" style="background: url('{% static 'images/food.jpg' %}') no-repeat center center/cover">
        <div class="ml-14 mt-10 content max-w-md bg-offWhite p-5 bg-opacity-70 rounded-md">
            <p class="mb-2">The best app to reach your nutrition and health goals</p>
            <h1 class="text-4xl font-bold">Reach your full potential</h1>
            <h1 class="text-4xl">with FitTrackr</h1>
            <p class="mt-2">
                FitTrackr is a fitness tracking app that monitors your meals and workouts <br> by calculating both caloric intake and loss. It helps users stay on top of their <br> health goals by providing real-time calorie counts and allowing them to set personalized calorie and workout goals.
            </p>
            <div class="flex gap-3 mt-4">
                <button>
                    <a href="{% url 'signup' %}">
                        <div class="relative rounded-md mt-2 py-1 w-auto text-center px-4 inline-block overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative text-lg">Get Started Now</span>
                        </div>
                    </a>
                </button>
                
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-slateBlueGreen p-10 font-questrial" id="reviews" >
        <h1 class="text-3xl font-bold text-offWhite text-center mb-5">What Our Users Say</h1>
        <div id="reviews-container" class="text-center">
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Brian Na</p>
                <p class="text-sm text-offWhite italic">"This app is amazing! Helps me stay on track with my goals."</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Anaiah Maddox</p>
                <p class="text-sm text-offWhite italic">"The functionalities of this app are flawless!"</p>
            </div>
            <div class="review hidden">
                <p class="text-yellow-500">Rating: 5 / 5</p>
                <p class="text-xl text-offWhite font-bold">Gabby Tongol</p>
                <p class="text-sm text-offWhite italic">"I can't use any other app after I started using FitTrackr!"</p>
            </div>
        </div>
    </div>
    
</section>
<section id="features" class="bg-sage p-5 font-questrial">
    <h1 class="text-3xl font-bold text-offWhite text-center mb-5">Features</h1>
    <div class="flex flex-wrap justify-center gap-4 text-wrap text-center">
        <div class="feature-card bg-offWhite p-4 rounded-lg shadow-md w-full md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
            <h2 class="text-xl font-semibold">Meal Tracking</h2>
            <p class="text-sm">
                Log your meals effortlessly and keep track of your caloric intake. Our app helps you make informed choices about your nutrition.
            </p>      
            <div class='flex justify-center'>
                 <img class='w-auto my-4' src="https://imgur.com/GfYxnkL.png" />
            </div>
        </div>
        <div class="feature-card bg-offWhite p-4 rounded-lg shadow-md w-full md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
            <h2 class="text-xl font-semibold">Workout Logging</h2>
            <p class="text-sm">
                Track your workouts and monitor your progress. Set goals and push yourself to achieve more with every session.
            </p>
            <div class='flex justify-center'>
                <img class='feature-image'  src="https://imgur.com/yX1NdGl.png" />
            </div>
        </div>
        <div class="feature-card bg-offWhite p-4 rounded-lg shadow-md w-full md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
            <h2 class="text-xl font-semibold">Progress Insights</h2>
            <p class="text-sm">
                Get personalized insights based on your data to help you stay on track. Celebrate your milestones and achievements along the way.
            </p>
            <div class='flex justify-center'>
                <img class='w-auto my-4' src="https://imgur.com/0jJ5hbh.png" />
            </div>
        </div>
        <div class="feature-card bg-offWhite p-4 rounded-lg shadow-md w-full md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
            <h2 class="text-xl font-semibold">Custom Goals</h2>
            <p class="text-sm">
                Set your own calorie and workout goals tailored to your lifestyle and preferences. Our app adapts to your needs.
            </p>
            <div class='flex justify-center'>
                <img class='feature-image'  src="https://imgur.com/7r3xfDz.png" />
            </div>
        </div>
        <div class="feature-card bg-offWhite p-4 rounded-lg shadow-md w-full md:w-[calc(50%-1rem)] lg:w-[calc(33%-1rem)]">
            <h2 class="text-xl font-semibold">Personalization</h2>
            <p class="text-sm">
                Personalize your experience by setting a unique username, updating your email, and uploading a profile photo. Customize your profile to make it truly yours!
            </p>
            <div class='flex justify-center'>
                <img class='w-auto my-4' src="https://imgur.com/bkgCWC1.png" />
            </div>
        </div>
    </div>
</section>



<section id="about" class="bg-offWhite p-5 font-questrial">
    <h1 class="text-3xl font-bold text-center mb-5">Meet Our Devs!</h1>
    <div class="flex flex-wrap justify-center mt-4 space-x-4">
        <div class="relative group flex flex-col items-center mb-4 mx-2">
            <p class="text-lg text-center mb-2">Anaiah</p>
            <img src="https://imgur.com/m93WP8n.png" alt="About Us" class="w-full md:w-1/2">
            <div class="absolute inset-0 opacity-0 group-hover:opacity-90 text-center p-0 rounded transition-opacity duration-300">
                <p class='bg-white p-4 rounded-md'>Anaiah is a front-end focused software engineer who thrives on creativity and innovative design. Driven by a love for solving puzzles, they focus on crafting intuitive, visually appealing user experiences while constantly exploring new ways to learn and grow in the field.


                    <a class='flex justify-center mt-2' href='https://www.linkedin.com/in/anaiahm/' target='_blank'>
                        <img src='https://img.shields.io/badge/-@Anaiah Maddox-blue?style=flat&logo=Linkedin&logoColor=black' />
                    </a>
                </p>
                
            </div>
        </div>

        <div class="relative group flex flex-col items-center mb-10 mx-2">
            <p class="text-lg text-center mb-2">Brian</p>
            <img src="https://imgur.com/SBHpkyR.png" alt="About Us" class="w-full md:w-1/2">
            <div class="absolute inset-0 opacity-0 group-hover:opacity-90 text-center p-0 rounded transition-opacity duration-300">
                <p class='bg-white p-4 rounded-md'>Brian began his professional journey in marketing, but his passion for creativity and problem-solving led him to pivot into software development. Now, he channels those skills into building innovative solutions in the tech world.
                    <a class='flex justify-center mt-2' href='https://www.linkedin.com/in/nabrian/' target='_blank'>
                        <img src='https://img.shields.io/badge/-@Brian Na-blue?style=flat&logo=Linkedin&logoColor=black' />
                    </a>
                </p>
                
            </div>
        </div>

        <div class="relative group flex flex-col items-center mb-4 mx-2">
            <p class="text-lg text-center mb-2">Gabrielle</p>
            <img src="https://imgur.com/PeMcTMt.png" alt="About Us" class="w-full md:w-1/2">
            <div class="absolute inset-0 opacity-0 group-hover:opacity-90 text-center p-0 rounded transition-opacity duration-300">
                <p class='bg-white p-4 rounded-md'>Gabrielle is an aspiring software engineer with a passion for user interface design and full stack development. Combining technical skills with creativity, Gabrielle is dedicated to building innovative, user-friendly applications that seamlessly integrate functionality across the front and back end.
                    <a class='flex justify-center mt-2' href='https://www.linkedin.com/in/gabtongol/' target='_blank'>
                        <img src='https://img.shields.io/badge/-@Gabrielle Tongol-blue?style=flat&logo=Linkedin&logoColor=black' />
                    </a>
                </p>
                
            </div>
        </div>
    </div>
</section>

{% endif %}

<script>
    const reviews = document.querySelectorAll('.review')
    let currentIndex = 0

    function showReview(index) {
        reviews.forEach((review, i) => {
            if (i === index) {
                review.classList.remove('hidden')
                review.classList.add('slide-in')
            } else {
                review.classList.add('slide-out')
                setTimeout(() => {
                    review.classList.add('hidden')
                    review.classList.remove('slide-out')
                }, 150)
            }
        });
    }

    function rotateReviews() {
        currentIndex = (currentIndex + 1) % reviews.length;
        showReview(currentIndex)
    }

    showReview(currentIndex)

    setInterval(rotateReviews, 4000)

    
    const stickyNav = document.getElementById('sticky-nav');
    const navLinks = stickyNav.querySelectorAll('a');
    const sections = document.querySelectorAll('section'); 

    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            stickyNav.classList.add('scrolled');
            stickyNav.style.opacity = '1';
            stickyNav.style.pointerEvents = 'auto';
        } else {
            stickyNav.classList.remove('scrolled');
            stickyNav.style.opacity = '0'; 
            stickyNav.style.pointerEvents = 'none';
        }

        let current = '';

        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;

            if (pageYOffset >= sectionTop - sectionHeight / 3) {
                current = section.getAttribute('id');
            }
        });

        navLinks.forEach(link => {
            link.classList.remove('active');
            if (link.getAttribute('href').substring(1) === current) {
                link.classList.add('active');
            }
        });
    });

    navLinks.forEach(link => {
        let section = document.querySelector(link.getAttribute('href'));
        
        if (
            section.offsetTop <= fromTop &&
            section.offsetTop + section.offsetHeight > fromTop
        ) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });


 
</script>

{% endblock  %}
