{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}

{% block content %}


<section class='font-quattrocento'>
    <div class='ml-2 mt-1 '>
        <button>
            <a href="{% url 'user_dashboard' %}" class='block' ><div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
                hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative">Back</span>
            </div></a>
        </button>
    </div>
    <div class='flex justify-center'>
        <h1 class=" m-5 text-4xl">Workout Log</h1>
    </div>
    <div class='flex justify-center'>
            <table class='table-auto rounded-xl bg-offWhite text-warmCoffee'>
                <thead>
                    <tr>
                        <th class='pl-5 pr-5 pt-2'>Workout</th>
                        <th class='pl-5 pr-5 pt-2'>Date</th>
                        <th class='pl-5 pr-5 pt-2'>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                    <tr>
                        <td class='text-wrap pl-5 pr-5'>{{ workout.name }}</td>
                        <td class='text-center pl-5 pr-5'>{{ workout.day }}</td>
                        <td class='text-center pl-5 pr-5 pb-2'><a href="{% url 'workout_detail' workout.id %}"><div class="relative rounded-md mt-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
                            hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                            <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                            opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                            <span class="relative">View</span>
                        </div></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}

