{% extends "base.html" %}
{% load static tailwind_tags %}

{% block head %}
{% tailwind_css %}
{% endblock head %}


{% block content %}
<secton class='font-quattrocento'>
    <div class=' ml-2 mt-2'>
        <button >
            <a href="{% url 'workout_log' %}">
                <div class="relative rounded-md mt-2 ml-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
                    hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                    <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                    opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                    <span class="relative">Back</span>
                </div>
            </a>
        </button>
    </div>


    <div class='flex justify-center m-8 text-4xl font-semibold text-warmCoffee'>
        <h1 class="border-b-4 border-lightSage pb-2">Workout Details</h1>
    </div>
    
    <div class='flex justify-center mt-8'>
        <table class='table-auto rounded-lg shadow-lg bg-offWhite text-warmCoffee text-lg w-96'>
            <tbody>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium">Date:</th>
                    <td class='pl-5 pr-5'>{{ workout.day }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium">Workout:</th>
                    <td class='pl-5 pr-5 text-wrap'>{{ workout.name }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium">Targets:</th>
                    <td class='pl-5 pr-5'>{{ workout.get_muscle_group_display }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium"># of Sets:</th>
                    <td class='pl-5 pr-5'>{{ workout.sets }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium"># of Reps:</th>
                    <td class='pl-5 pr-5'>{{ workout.reps }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium">Calories Lost:</th>
                    <td class='pl-5 pr-5'>{{ workout.calorie_lost }}</td>
                </tr>
                <tr class="border-b">
                    <th class="text-right p-4 font-medium">Notes:</th>
                    <td class='pl-5 pr-5'>{{ workout.notes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id='workout-info'>
    {% comment %} {% detail in workout_details %}
        {{detail.Muscles}}
        {{detail.Workout}}
        {{detail.Intensity_Level}}
        {{}} {% endcomment %}
    </div>


    <div class='flex justify-center mt-4 mb-8 gap-2'>

        <button>
            <a href="{% url 'workout_update' workout.id %}">
                <div class="relative rounded-md mt-2 ml-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
                hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative">Edit</span>
            </div>
            </a>
        </button>
        <button>
            <a href="{% url 'workout_delete' workout.id %}">
                <div class="relative rounded-md mt-2 ml-2 py-1 w-20 text-center overflow-hidden group bg-sage text-cream hover:bg-gradient-to-r
                hover:from-sage hover:to-darkersage hover:ring-2 hover:ring-offset-2 hover:ring-sage transition-all ease-out duration-300">
                <span class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white 
                opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span>
                <span class="relative">Delete</span>
            </a>
        </button>
    </div>
</secton>
{% endblock content %}



